:root {
  /* Colors */
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--Grey-900);
}

section {
  padding: 15px;
  background-color: var(--Grey-800);
  border-radius: 8px;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.container img {
  max-width: 100%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.container h2 {
  color: var(--White);
  font-weight: normal;
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}

.container p {
  font-size: 14px;
}

.container p:first-of-type {
  margin-top: -15px;
  color: var(--Green);
}

.container p:last-of-type {
  color: var(--White);
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  width: 320px;
  color: var(--White);
  background-color: var(--Grey-700);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

ul li:hover {
  background-color: var(--Green);
  color: var(--Grey-900);
}

@media (max-width: 768px) {
  section {
    padding: 0;
  }
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 375px) {
  section {
    padding: 0;
  }
  .container {
    padding: 0 10px;
  }
  ul li {
    width: 280px;
  }
}
